package app

import (
	"github.com/exgamer/gosdk-core/pkg/app"
{{- if .HasHttp}}
	http "github.com/exgamer/gosdk-http-core/pkg/app"
{{- end}}
{{- if .HasPostgres}}
	postgres "github.com/exgamer/gosdk-postgres-core/pkg/app"
{{- end}}
{{- if .HasRabbit}}
	rabbitapp "github.com/exgamer/gosdk-rabbit-core/pkg/app"
{{- end}}
{{- if .HasRedis}}
	redis "github.com/exgamer/gosdk-redis-core/pkg/app"
{{- end}}
)

type App struct {
	*app.App
}

func NewApp() (*App, error) {
	appInstance := &App{
		App: app.NewApp(),
	}

	err := appInstance.RegisterAndInitKernels(
{{- if .HasPostgres}}
		&postgres.PostgresKernel{},
{{- end}}
{{- if .HasHttp}}
		&http.HttpKernel{},
{{- end}}
{{- if .HasRabbit}}
		rabbitapp.NewRabbitKernel().EnableConsumer().EnablePublisher(),
{{- end}}
{{- if .HasRedis}}
		&redis.RedisKernel{},
{{- end}}
	)

	if err != nil {
		return nil, err
	}

	// Модули регистрируются здесь по мере появления, например:
	// err = appInstance.RegisterAndInitModules(&city.Module{})
	if err = appInstance.RegisterAndInitModules(); err != nil {
		return nil, err
	}

	return appInstance, nil
}
