package main

import (
	"log"

	_ "{{.ModulePath}}/docs"
	"{{.ModulePath}}/internal/app"
)

// @title        {{.AppTitle}} (API)
// @version      1.0
// @description  {{.AppTitle}}
// @host         0.0.0.0:8090
// @BasePath     /
func main() {
	appInstance, err := app.NewApp()

	if err != nil {
		log.Fatal(err)
	}

	if err = appInstance.RunAll(); err != nil {
		log.Fatal(err)
	}

	appInstance.WaitForShutdown()
}
