package {{.Module}}

import (
	"context"
	"fmt"
	"strconv"
	"time"

	domain "{{.DomainImport}}"
	rediscore "github.com/exgamer/gosdk-redis-core/pkg/redis"
	"github.com/redis/go-redis/v9"
)

const (
	keyPrefix = "{{.KeyPrefix}}"
	listKey   = keyPrefix + "list"
)

func NewRedisRepository(client *redis.Client) *RedisRepository {
	return &RedisRepository{client: client}
}

type RedisRepository struct {
	client *redis.Client
}

// Set{{.EntityName}} кеширует {{.Module}}
func (r *RedisRepository) Set{{.EntityName}}(ctx context.Context, model *domain.{{.EntityName}}) error {
	return rediscore.NewHelper[domain.{{.EntityName}}](ctx, r.client).
		SetStruct(keyPrefix+strconv.FormatUint(uint64(model.ID), 10), *model, 2*time.Hour)
}

// Get{{.EntityName}}ById возвращает {{.Module}} из кеша
func (r *RedisRepository) Get{{.EntityName}}ById(ctx context.Context, id uint) (*domain.{{.EntityName}}, error) {
	return rediscore.NewHelper[domain.{{.EntityName}}](ctx, r.client).
		GetStruct(keyPrefix + strconv.FormatUint(uint64(id), 10))
}

// Set{{.EntityName}}List кеширует список {{.Module}}
func (r *RedisRepository) Set{{.EntityName}}List(ctx context.Context, models []domain.{{.EntityName}}) error {
	return rediscore.NewHelper[domain.{{.EntityName}}](ctx, r.client).
		SetArray(listKey, models, 2*time.Hour)
}

// Get{{.EntityName}}List возвращает список {{.Module}} из кеша
func (r *RedisRepository) Get{{.EntityName}}List(ctx context.Context) ([]domain.{{.EntityName}}, error) {
	return rediscore.NewHelper[domain.{{.EntityName}}](ctx, r.client).
		GetArray(listKey)
}

// Invalidate{{.EntityName}}Cache сбрасывает кеш {{.Module}}
func (r *RedisRepository) Invalidate{{.EntityName}}Cache(ctx context.Context, id uint) error {
	key := keyPrefix + strconv.FormatUint(uint64(id), 10)

	if err := r.client.Unlink(ctx, key).Err(); err != nil {
		return fmt.Errorf("invalidate {{.Module}} cache: %w", err)
	}

	return nil
}
